@import "variables";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  height: 100%;
}

.hidden {
  display: none;
}

.cards {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


html {
  height: 100%;
}

.main {
  flex: 1 0 auto;
}
