@import "variables";
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

.body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  height: 100%;
}

.hidden {
  display: none;
}

.cards {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  .card-image {
    height: 150px;
    position: relative;
    background-color: #f9f9f9;
    .crop {
      height: 100px;
      width: 100px;
      overflow: hidden;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -50px;
      margin-top: -50px;
    }
  }
  a {
    max-width: 100%;
  }
}

html {
  height: 100%;
}

.main {
  flex: 1 0 auto;
}

.list-filter {
  display: inline-block;
  margin: 15px 0;
  label {
    margin-right: 15px;
  }
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
}

.card-content > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#sidenav-overlay {
  z-index: 996;
}

/* Prevents img without src to appear */
img:not([src]) {
  visibility: hidden;
}

.brand-logo img {
  height: 30px;
}

@media screen and (max-width: 400px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

// TIMELINE
.timeline {
  position: relative;

  &::before {
    content: "";
    background: $light-primary;
    width: 5px;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.timeline-item {
  &:first-of-type {
    padding-top: 15px;
  }
  &:last-of-type {
    padding-bottom: 15px;
  }

  width: 100%;
  padding-top: 7.5px;
  padding-bottom: 7.5px;

  &:nth-child(odd) {
    .date {
      right: auto;
      left: 0;
    }
  }

  &:nth-child(even) {
    .timeline-content {
      float: right;

      &::after {
        content: "";
        position: absolute;
        border-style: solid;
        width: 0;
        height: 0;
        top: 30px;
        left: -15px;
        border-width: 10px 15px 10px 0;
        border-color: transparent #f5f5f5 transparent transparent;
      }
    }
  }

  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.timeline-content {
  position: relative;
  width: 45%;
  padding: 40px 30px 10px 30px;
  border-radius: 4px;
  background: #f5f5f5;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  img {
    width: 100px;
  }
  i {
    line-height: 20px;
    vertical-align: bottom;
  }
  .timeline-content-wrapper {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 150px;
  }
  &::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    right: -15px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #f5f5f5;
  }
}

.timeline-img {
  width: 30px;
  height: 30px;
  background: $primary;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}

.timeline-link {
  background: $primary;
  color: $text;
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);

  &:hover,
  &:active,
  &:focus {
    background: darken($primary, 10%);
    color: $text;
    text-decoration: none;
  }
}

.timeline-card {
  padding: 0 !important;

  p {
    padding: 0 20px;
  }

  a {
    margin-left: 20px;
  }
}

.date {
  background: $accent;
  display: inline-block;
  color: $text;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  .timeline {
    &::before {
      left: 0;
    }

    .timeline-img {
      left: 0;
    }

    .timeline-content {
      max-width: 100%;
      width: auto;
      margin-left: 30px;
    }

    .timeline-item {
      &:nth-child(odd) {
        .date {
          right: 0;
          left: auto;
        }
      }
      &:nth-child(even) {
        .timeline-content {
          float: none;
        }
      }

      &:nth-child(odd) {
        .timeline-content {
          &::after {
            content: "";
            position: absolute;
            border-style: solid;
            width: 0;
            height: 0;
            top: 30px;
            left: -15px;
            border-width: 10px 15px 10px 0;
            border-color: transparent #f5f5f5 transparent transparent;
          }
        }
      }
    }
  }
}
