<div class="container">
    <div class="row">
        <div class="col l6 s12">
            <div class="addthis_inline_share_toolbox"></div>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container">
        <a class="grey-text text-lighten-4" href="about">About</a> -
        <a class="grey-text text-lighten-4" href="contact">Contact</a>
        <a class="grey-text text-lighten-4 right" href="https://korakas.me" target="_blank">Created with love by Thanos Korakas</a>
    </div>
</div>
