<div class="container">
    <div class="row">
        <div class="col l6 s12">
            <div class="addthis_inline_share_toolbox"></div>
        </div>
        <div class="col l4 offset-l2 s12">
            <ul>
                <li><a class="grey-text text-lighten-3" href="about">About</a></li>
                <li><a class="grey-text text-lighten-3" href="contact">Contact</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container">
        © 2018 Awesome Athens
        <a class="grey-text text-lighten-4 right" href="https://korakas.me">Created with love by Thanos Korakas</a>
    </div>
</div>
