<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <link rel="shortcut icon" type="image/png" href="favicon.ico"/>

    <!-- COMMON TAGS -->
    <meta charset="utf-8">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="sitemap.xml" />
    <!-- Search Engine -->
    <meta name="description" content="Το Awesome Athens είναι μια σελίδα με σκοπό τη συγκέντρωση όλων των κοινοτήτων και των χώρων που έχουν σχέση με την τεχνολογία.">
    <meta name="image" content="https://www.awesomeathens.info/assets/social.png">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="Awesome Athens">
    <meta itemprop="description" content="Το Awesome Athens είναι μια σελίδα με σκοπό τη συγκέντρωση όλων των κοινοτήτων και των χώρων που έχουν σχέση με την τεχνολογία.">
    <meta itemprop="image" content="https://www.awesomeathens.info/assets/social.png">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Awesome Athens">
    <meta name="twitter:description" content="Το Awesome Athens είναι μια σελίδα με σκοπό τη συγκέντρωση όλων των κοινοτήτων και των χώρων που έχουν σχέση με την τεχνολογία.">
    <meta name="twitter:site" content="https://www.awesomeathens.info">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="Awesome Athens">
    <meta name="og:image" content="https://www.awesomeathens.info/assets/social.png">
    <meta name="og:description" content="Το Awesome Athens είναι μια σελίδα με σκοπό τη συγκέντρωση όλων των κοινοτήτων και των χώρων που έχουν σχέση με την τεχνολογία.">
    <meta name="og:url" content="https://www.awesomeathens.info/">
    <meta name="og:site_name" content="Awesome Athens">
    <meta name="og:type" content="website">
    <link rel="shortcut icon" type="image/png" href="assets/favicon.png"/>

    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="body">
<header>
    {% include "pages/partials/navigation.njk" %}
</header>
<main class="container main">
    {% block content %}
    {% endblock %}
</main>
<footer class="page-footer blue darken-2">
    {% include "pages/partials/footer.njk" %}
</footer>
<script
        src="//code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
{% block js %}
{% endblock %}
</body>
</html>
