
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <div class="container">
                <a href="/" class="brand-logo">Awesome Athens</a>
            </div>
        </div>
    </nav>
</div>
