<div class="topnav">
    <div class="container">
        <a {% if page == 'index' %} class="active" {% endif %} href="/">Athens Tech</a>
        <a {% if page == 'about' %} class="active" {% endif %} href="about">About</a>
    </div>
</div>