{% extends "pages/partials/html.njk" %}

{% block content %}
    <form method="POST" action="https://formspree.io/thanoskorakas@gmail.com">
        <input type="email" name="email" placeholder="Your email">
        <textarea name="message" placeholder="Your message"></textarea>
        <button type="submit">Send</button>
    </form>
{% endblock %}
