{% extends "pages/partials/html.njk" %}

{% block content %}
    <p class="flow-text">
        Το Awesome Athens είναι μια σελίδα με σκοπό τη συγκέντρωση όλων των κοινοτήτων και των χώρων που έχουν σχέση με
        την τεχνολογία. Στόχος είναι κάθε προγραμματιστής που κατοικεί στην Αθήνα να μπορεί να βρει εύκολα, κοινότητες
        και ανθρώπους με κοινά ενδιαφέροντα.
    </p>
    <p class="flow-text">
        Η σελίδα δεν έχει κερδοσκοπικό σκοπό, μόνο να φέρει κοντά ανθρώπους. Η μόνη απαίτηση είναι να μπορεί κάποιος που
        κατοικεί στην Αθήνα να παρακολουθήσει τις δράσεις της ομάδας.
    </p>
    <p class="flow-text">
        Υπάρχουν δυο κατηγορίες ομάδων που μπορούν να προβληθούν από την σελίδα.
        Τοπικές κοινότητες, για παράδειγμα ένα meetup.
        Πολυχώροι που μπορεί κάποιος να εργαστεί εκεί δωρεάν ή επί πληρωμής
    </p>
    <p class="flow-text">
        Υπάρχουν δύο τρόποι για να προστεθεί η κοινότητα ή ο χώρος σας στην σελίδα.
        Να δημιουργήσετε ένα pull request και να προσθέσετε τις κατάλληλες πληροφορίες στο GitHub.
        Να στείλετε με E-mail τα στοιχεία σας ώστε να το κάνουμε εμείς.
    </p>
{% endblock %}
