{% extends "pages/partials/html.njk" %}

{% block content %}
    <div class="row">
        <form name="contact" class="col s12" netlify>
            <div class="row">
                <div class="input-field col s12">
                    <label for="email">Email</label>
                    <input id="email" name="email" type="email" required>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="name">Community/Workspace name</label>
                    <input id="name" type="text" name="name" required>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="url">Community/Workspace site</label>
                    <input id="url" type="text" name="url" required>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="image">Image URL</label>
                    <input id="image" type="text" name="url">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select name="type">
                        <option value="community">Community</option>
                        <option value="workspace">Workspace</option>
                    </select>
                </div>
            </div>
            <button class="btn waves-effect waves-light blue" type="submit" name="action">Send</button>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script>
      $(document).ready(function () {
        $('select').material_select()
      })

    </script>
{% endblock %}