{% extends "pages/partials/html.njk" %}

{% block lazyLoad %}
    <script src="assets/lazyload.js"></script>
{% endblock %}

{% block content %}
    <div id="cards-container">
        <div class="cards">
            {% for group in groups %}
                <a href="{{ group.url }}" target="_blank">
                    <div class="card hoverable">
                        <span class="hide type">{{ group.type }}</span>
                        <div class="card-image">
                            <div class="crop">
                                <img alt="{{ group.name }}" data-src="assets/{%  if 'image' in group %}{{ group.image }}{% else %}placeholder.png{% endif %}">
                            </div>
                        </div>
                        <div class="card-content">
                            <span title="{{ group.name }}" class="card-title grey-text text-darken-4">{{ group.name }}</span>
                            <p title="{{ group.description }}">{{ group.description }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/8.6.0/lazyload.min.js"></script>
{% endblock %}
